@import "~styles/variables.scss";

// overrides for flexboxgrid.scss
.row {
  margin-right: 0.0rem;
  margin-left: 0.0rem;
}

// additional hide classes
@media only screen and (min-width: 75em) {
  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) {
  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .hide-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 48em) {
  .hide-xs {
    display: none !important;
  }
}
@media only screen and (max-width: 75em) {
  .hide-md-down {
    display: none !important;
  }
}
@media only screen and (max-width: 64em) {
  .hide-sm-down {
    display: none !important;
  }
}

// general styles
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $extra-color-minor;
}

.main-container {
	min-height: calc(100vh - 8em);
	justify-content: space-around;
}

.router-view {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.sign-up-form {
	margin: auto;
}

.is-active {
	font-size: 1.25rem;

	a {
		color: $accent-color;
		box-shadow: 2.5px 2.5px 1.5px 0px rgba(14,15,14,0.5);
	}
}

.button-general {
	background: $accent-color;
	color: green;
	font-size: 0.8rem;
	border: none;

	&:hover {
		box-shadow: 2px 2px 1px 0px rgba(14,15,14,0.5);
	}
}

.close-general {
	float: right;
	margin: 0.2rem;
}

.main-nav-icon {
	display: none;
}

// media query large
@media screen and (min-width: 64em) {
	html {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 48em) {
	.main-container {
		flex-direction: column;
	}

	.navigation {
		height: 100%;
	}

	.main-nav-icon {
		display: block;
		position: fixed;
		top: 3rem;
		right: 1rem;
		background: $secondary-color;
		z-index: 9;
		box-shadow: 2px 2px 2px 2px rgba(255,255,255,0.5);
	}
}
