@import "~styles/variables.scss";

// overrides for flexboxgrid.scss
.row {
  margin-right: 0.0rem;
  margin-left: 0.0rem;
}

// additional hide classes
@media only screen and (min-width: 75em) {
  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) {
  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .hide-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 48em) {
  .hide-xs {
    display: none !important;
  }
}
@media only screen and (max-width: 75em) {
  .hide-md-down {
    display: none !important;
  }
}
@media only screen and (max-width: 64em) {
  .hide-sm-down {
    display: none !important;
  }
}

// general styles
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $extra-color-minor;
}

.main-content {
	min-height: calc(100vh - 8em);
	justify-content: space-between;
}

.router-view {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.new-user-form {
	margin: auto;
}

.is-active {
	font-size: 1.25rem;

	a {
		color: $accent-color;
		box-shadow: 2.5px 2.5px 1.5px 0px rgba(14,15,14,0.5);
	}
}

// media query large
@media screen and (min-width: 64em) {
	html {
		width: 80%;
		margin: auto;
	}
}

