
.new-user-form {
	margin: auto;
}

@media (min-width: 768px) {
	html {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (min-width: 75em) {
  .hide-lg {
    display: none !important;
  }
}

@media only screen and (max-width: 48em) {
  .hide-xs {
    display: none !important;
  }
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (min-width: 64em) and (max-width: 75em) {
  .hide-md {
    display: none !important;
  }
}

@media only screen and (max-width: 64em) {
  .hide-sm-down {
    display: none !important;
  }
}

@media only screen and (max-width: 75em) {
  .hide-md-down {
    display: none !important;
  }
}
