@import "~styles/variables.scss";

// general styles
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $extra-color-minor;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $accent-color;
	margin: 1em 0;
	padding: 0;
}

.app {
	flex-direction: column;
	min-height: 100vh;
}

.main-container {
	// min-height: calc(100vh - 8em);
	justify-content: space-around;
	flex-grow: 1;
	margin: 0;
	padding: 0;
}

.router-view {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.sign-up-form {
	margin: auto;
}

.button-general {
	background: $accent-color;
	color: green;
	font-size: 0.8rem;
	border: none;
	margin: 0.2rem auto;

	&:hover {
		box-shadow: 2px 2px 1px 0px rgba(14,15,14,0.5);
	}
}

.text--special {
	color: #71EEB8;
	font-size: 1rem;
	font-style: italic;
}

.nav-icon-container {
	display: block;
	position: fixed;
	width: 3rem;
	height: 3rem;
	top: 1rem;
	right: 1rem;
	background: #baa378;
	z-index: 9;
	box-shadow: 0px 0px 2px 2px $extra-color-minor;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0.5;
}

// media query large
@media screen and (min-width: 992px) {
	html {
		width: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 239px) {
  .hide-xxs {
    display: none !important;
  }
}

@media screen and (max-width: 575px) {
	.main-container {
		flex-direction: column;
	}

	.navigation {
		height: 100%;
	}
}
