
// $primary-color: #CB4335;
// $secondary-color: #D98880;
// $accent-color: #F2D7D5;
// $extra-color: #FBFCFC;
// $extra-color-minor: #FBFCFC;

$primary-color: #442E27;
$secondary-color: #BB8954;
$accent-color: #EAEBF0;
$extra-color: #7E5233;
$extra-color-minor: #8C8B90;
